<div class="profilepage">
    <h1>Your profile information</h1>
    <div>
        <label for = "firstname">First name: </label>
        <input type = "text" name = "firstname" [(ngModel)]= "loggedinUser.firstname" >
    </div>
    <div>
        <label for = "lastname">Last name: </label>
        <input type = "text" name = "lastname" [(ngModel)]= "loggedinUser.lastname" >
    </div>
    <div>
        <label for = "email">Email: </label>
        <input type = "text" name = "email" [(ngModel)]= "loggedinUser.email" >
    </div>
    <div>
        <label for = "password">Password: </label>
        <input type = "text" name = "password" [(ngModel)]= "loggedinUser.pass_word" >
    </div>
    <div>
        <label for = "phonenum">Phone number: </label>
        <input type = "text" name = "phonenum" [(ngModel)]= "loggedinUser.phoneNum" >
    </div>
    <div>
        <button type = "submit">Save Changes</button>
    </div>
    <button routerLink="/dashboard" routerLinkActive="active">Back to Dashboard</button>
</div>