body {
    --text-color: #222;
    --bkg-color: #fff;
    --btn-txt-color: white;
    --btn-bg-color: rgb(11, 88, 160);
    font-family: Syne;
  }
  body.dark-theme {
    --text-color: white;
    --bkg-color: #252222;
    --btn-txt-color: rgb(46, 43, 43);
    --btn-bg-color: rgb(20, 119, 211);
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1, p, h2, label {
    color: var(--text-color);
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: var(--btn-txt-color);
    background-color: var(--btn-bg-color);
  }
  
  #darkmodebutton {
    position: absolute;
    top: 0;
    right: 0;
  }