<div>
    <button type="button" (click)="getAccounts()">Load  Accounts</button>
    <ul>
        <li *ngFor="let account of fetchedAccounts" (click)="onSelect(account)">
            <button type="button" *ngIf="account.type==='Checking'">
                <span class="badge">{{account.id}}</span>
                {{account.type}} : {{account.total | currency}} 
            </button>
            <button type="button"  *ngIf="account.type==='Savings'" (click)="onSelect(account)">
                <span class="badge">{{account.id}}</span>
                {{account.type}}  : {{account.total | currency}}
            </button>
        </li>
    </ul>
</div>
<div>
    <form #createNew="ngForm" (ngSubmit)="onSubmit(type.value)">
        <select required id="type" name = "type" #type>
            <option value="" disabled selected>Type of account:</option>
            <option *ngFor="let choice of choices" value={{choice}}>{{choice}}</option>
        </select>
        <button type="submit" [disabled]="!createNew.form.valid">+</button>
    </form>
</div>
<button routerLink="/shoppingMall">Visit the Shopping Mall</button>
<button routerLink="/userProfile" routerLinkActive="active">User Profile</button>
<app-statements [acc]="selectedAccount"></app-statements>
<app-shopping-mall [acc]="selectedAccount"></app-shopping-mall>


