<div>
    <ul>
        <li *ngFor="let account of accounts" >
            <a routerLink="" *ngIf="account.type==='Checking'">
                <span class="badge">{{account.id}}</span>
                {{account.type}} : {{account.total | currency}} 
            </a>
            <a routerLink="" *ngIf="account.type==='Savings'">
                <span class="badge">{{account.id}}</span>
                {{account.type}}  : {{account.total | currency}}
            </a>
        </li>
    </ul>
</div>
<div>
    <form #createNew="ngForm" (ngSubmit)="onSubmit(type.value)">
        <select required id="type" name = "type" #type>
            <option value="" disabled selected>Type of account:</option>
            <option *ngFor="let choice of choices" value={{choice}}>{{choice}}</option>
        </select>
        <button type="submit" [disabled]="!createNew.form.valid">+</button>
    </form>
</div>

