<div class="registerForm">
    <h1 class="registerHeader">Register an Account</h1>
    <div class="registerBody">
        <form [formGroup]="registerForm" (ngSubmit)="registerSubmitted()">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input id="firstName" type="text" formControlName="firstName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input id ="lastName" type="text" formControlName="lastName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input id="email" type="email" formControlName="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input id="password" type="password" formControlName="password" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="PhoneNumber">Phone Number:</label>
                <input id="phonenumber" type="number" formControlName="phoneNum" class="form-control" required>
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
            <div class="form-group">
                <a routerLink="/login"><button>Cancel</button></a>
            </div>
        </form>
    </div>
</div>

<div class="text-right">
    <div class="custom-control custom-switch">
      <mat-checkbox type="checkbox" 
            class="custom-control-input" 
            id="darkMode" 
            [checked]="isThemeDark | async"
            (change)="toggleDarkTheme($event)">
        <label class="custom-control-label" for="darkMode"></label>
        <a class="text-capitalize">Dark Mode</a>
      </mat-checkbox>
    </div>
  </div>
