<div class="col-md-12">
    <div class="brainer-container">
      <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit();" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="form.email" required #email="ngModel"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required #password="ngModel"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Login
          </button>
        </div>
      </form>
    </div>
    <p *ngIf="authR">{{authR.token}}</p>
  </div>